BUSINESS_DB_HOST=localhost
BUSINESS_DB_PORT=5432
BUSINESS_DB_NAME=blps_business
BUSINESS_DB_USERNAME=blps_business_user
BUSINESS_DB_PASSWORD=blps_business_password

AUTH_DB_HOST=localhost
AUTH_DB_PORT=5433
AUTH_DB_NAME=blps_auth
AUTH_DB_USERNAME=blps_auth_user
AUTH_DB_PASSWORD=blps_auth_password

SERVER_PORT=8080

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=claims
